{% extends "index.html" %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/css/form.css" />
{% endblock extrahead %}

{% block header %}

<div class="hero row center" style='background-image: url("/img/P4Z7LZ_2.jpg") ;
    background-position-y: -400px; min-height: 30vh;'>
    <!-- <img src="/img/gull.svg" style="height: 160px;" /> -->
</div>
{% endblock header %}

{% block content %}
<main>
    <div class="page">
        <div class="col center">
            <div style="max-width: min(800px, 95vw); font-size: larger;">
                <h2 class="center">Contact nous</h2>
                <!-- <p><b>Seagull is the work of <em>someone</em></b>. Yes <a href="/">homepage</a>.</p> -->
                <p>Vous pouvez nous contacter ici : <a href="dpo@ville-nevers.fr">dpo@ville-nevers.fr</a>.</p>
            </div>
            <p> Ou à travers nos réseaux sociaux</p>
            <div class="row center contact-links">
                <style>
                    .contact-links a { margin: 0 1em }
                    .contact-links { margin: 1em 0 6em 0 }
                </style>
                <a target="_blank" class="button button-main" href="https://www.facebook.com/nevers.officiel"style="background-color: #0866FF;">Facebook</a>
                <a target="_blank" class="button button-main" href="https://www.tiktok.com/@villedenevers"style="background-color: #000000;">Tiktok</a>
                <a target="_blank" class="button button-main" href="https://www.instagram.com/villedenevers/"style="background-color: #E4405F;">Instagram</a>
                <a target="_blank" class="button button-main" href="https://fr.linkedin.com/company/villedenevers" style="background-color: #0A66C2;">Linkdin</a>
                <!-- <a target="_blank" class="button button-main" href=""style="background-color: #0A66C2;">Newsletter</a> -->
            </div>
        </div>

      

        <br>
        <br>
        <br>
        <br>
        <br>

    </div>

</main>
{% endblock content %}