<footer>
    <div class="social">
        {%- for link in config.extra.social.link -%}
        <a rel="me" href="{{link.url}}"><div><img alt="{{link.name}}" class="icon" src="{{link.img}}"/> <span>{{link.name}}</span></div></a>
        {% endfor -%}
    </div>

    <div>
        <div>{{i::place(color="white", size="20px")}} <a href="https://maps.app.goo.gl/sZvjEoLrUc9FE1vW6" >
            Nous contacter Mairie de Nevers 1,<br>
                place de l'Hôtel de Ville CS 9706<br>58000 Nevers
        </a></div> 
        <div>{{i::phone(color="black", size="20px")}} Tél : 03.86.68.46.46</div>
       
    </div>

    <div>
        {% for link in config.extra.footer.links %}
            {#- hack to get page or section #}
            {%- if link is ending_with("_index.md") -%}
            {%- set s = get_section(path=link) -%}
                <div><a href="{{ s.permalink }}">{{s.title}}</a></div>
            {%- else -%}
            {%- set p = get_page(path=link) -%}
                <div><a href="{{ p.permalink }}">{{p.title}}</a></div>
            {%- endif -%}
        {% endfor %}
    </div>

    <div>
        <p><a href="https://www.nevers.fr/"><img src="../static/logo_tetiere_site.png" alt="site nevers "></a></p>
        <p><a href="https://www.service-public.fr/particuliers/vosdroits/N47"><img src="../static/Service-Public.fr.png" alt="site service public"></a> </p>
        
    </div>
</footer>