<footer class="footer" style="position: relative">
  <div class="social">
    {%- for link in config.extra.social.link -%}
    <a rel="me" href="{{link.url}}" title="{{link.name}}"
      ><div>
        <img alt="{{link.name}}" class="icon" src="{{link.img}}" />
        <span>{{link.name}}</span>
      </div></a
    >
    {% endfor -%}
  </div>

  <div>
    <div>
      {{i::place(color="white", size="20px")}}
      <a
        href="https://maps.app.goo.gl/sZvjEoLrUc9FE1vW6"
        title="adresse Mairie de Nevers"
      >
        Nous contacter Mairie de Nevers 1,<br />
        place de l'Hôtel de Ville CS 9706<br />58000 Nevers
      </a>
    </div>
    <div title="contacter Mairie de Nevers">
      {{i::phone(color="black", size="20px")}} Tél : 03.86.68.46.46
    </div>
  </div>

  <div>
    {% for link in config.extra.footer.links %} {#- hack to get page or section
    #} {%- if link is ending_with("_index.md") -%} {%- set s =
    get_section(path=link) -%}
    <div><a href="{{ s.permalink }}">{{s.title}}</a></div>
    {%- else -%} {%- set p = get_page(path=link) -%}
    <div><a href="{{ p.permalink }}">{{p.title}}</a></div>
    {%- endif -%} {% endfor %}
  </div>

  <div class="logo" style="width: 340px; height: 207px">
    <div>
      <p>
        <a href="https://www.nevers.fr/" title="site nevers"
          ><div class="logo-text">
            <spaw class="main-title">Nevers.fr</spaw>
          </div></a>
      </p>
    </div>
    <div>
      <p>
        <a
          href="https://www.service-public.fr/particuliers/vosdroits/N47"
          title="site service public"
          ><div class="logo-text">
            <spaw class="main-title">Service-Public.fr</spaw>
            <spaw class="subtitle">
              Le site officiel de l’administration française
            </spaw>
          </div>
        </a>
      </p>
    </div>
    <div>
      <p>
        <a
          href="https://www.data.gouv.fr/fr/pages/donnees-des-elections/"
          title="site data.gouv"
          ><div class="logo-text">
            <spaw class="main-title">data.gouv.fr</spaw>
            
            </spaw>
          </div></a>
      </p>
    </div>
  </div>
</footer>
